# Iris


We will go through the implementation of each of the steps in the Machine Learning Pipeline.

We make use of the iris dataset, a well-known and simple multi-class classification dataset.

1. Data Analysis
2. Feature Engineering
3. Feature Selection
4. Model Training
5. Obtaining Predictions / Scoring

In [18]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

# make idempotent function to change root folder
import os
import sys

# import sklearn datasets and load iris dataset as a dataframe
from sklearn import datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from loguru import logger

# is the cwd contains the sting research_enviroment pring True
if "research_enviroment" in os.getcwd():
    os.chdir('..')
    logger.info("Current working directory: {0}".format(os.getcwd()))
else:
    logger.info("Current working directory: {0}".format(os.getcwd()))
# import utils package at utils.py
import utils

df = utils.load_iris_data()
df.info()

2022-09-24 12:19:23.354 | INFO     | __main__:<module>:22 - Current working directory: /Users/thamu/Documents/innovation/training/weekendprojects/Iris
2022-09-24 12:19:23.356 | INFO     | utils:load_iris_data:10 - Loading iris data with species.
2022-09-24 12:19:23.368 | SUCCESS  | utils:load_iris_data:22 - Done: Iris data loaded.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
 5   species            150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [19]:
# get the data types of the columns
numeric_features = df.select_dtypes(include=[np.number]) # find all numeric features
categorical_features = df.select_dtypes(exclude=[np.number]) # categorical features are not number of datetime

# change all numeric features to float 32 an all categorical features to category
df[numeric_features.columns] = df[numeric_features.columns].astype(np.float32)
df[categorical_features.columns] = df[categorical_features.columns].astype('category')

# change the target to category as this is multiclass classification
df['target'] = df['target'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float32
 1   sepal width (cm)   150 non-null    float32
 2   petal length (cm)  150 non-null    float32
 3   petal width (cm)   150 non-null    float32
 4   target             150 non-null    category
 5   species            150 non-null    category
dtypes: category(2), float32(4)
memory usage: 3.0 KB

In [20]:
# describe the dataset (five number statistics of numeric columns) with all columns rounded off to 2 decimal places
df.describe().round(2)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.00,150.00,150.00,150.00
mean,5.84,3.06,3.76,1.20
std,0.83,0.44,1.77,0.76
min,4.30,2.00,1.00,0.10
25%,5.10,2.80,1.60,0.30
50%,5.80,3.00,4.35,1.30
75%,6.40,3.30,5.10,1.80
max,7.90,4.40,6.90,2.50